@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/grid-settings';
@import 'base/base';

@import 'partials/colors';

@import 'partials/footer';
@import 'partials/profile';

.hidden {
    display: none;
}

.hero__tagline {
    font-size: golden-ratio(14px, 4);
}

html, body {
    height: 100%;
}

.hero {
    $hero-color: $white;

    .hero-inner {
        @include outer-container;
        @include clearfix;
        padding: 3em;
        margin: auto;
        text-align: center;
        color: $hero-color;

    }
}

@mixin big-cool-button($color) {
    font-size: golden-ratio(14px, 3);
    outline: none;
    transition-duration: .5s;
    background-color: $color;

    &:hover {
        background-color: lighten($color, 10);
    }

    &.disabled {
        opacity: .7;

        &:hover {
            background-color: $color;
        }
    }
}

.fight-button {
    @include big-cool-button($fight-button-color);
}

.reset-button {
    @include big-cool-button($reset-button-color);
}
