.profile-container {
    @include outer-container;
    margin-bottom: 2em;
}

.profile {
    @include span-columns(5 of 12);
}

.profile--last {
    @include omega;
}

.hero__vs {
    @include span-columns(2 of 12);
}

.profile__name {
    font-size: golden-ratio(14px,  3);
}

.profile__img {
    border-radius: 50%;
    position: relative;
}

@include keyframes(spin) {
    from {
        @include transform(rotateY(0deg));
    }

    to {
        @include transform(rotateY(360deg));
    }
}

%spinners {
    @include animation-name(spin);
    @include animation-duration(2s);
    @include animation-iteration-count(infinite);
    @include animation-timing-function(linear);
    @include transform-style(preserve-3d);

    &:hover {
        @include animation-play-state(paused);
    }
}

.spinning {
    @extend %spinners;
}
